PORT=5001
MONGO_URI=mongodb://IP_MONGODB:27017/speedrun
MINIO_ENDPOINT=IP_MINIO
MINIO_PORT=9000
MINIO_ACCESS_KEY=ton_access_key
MINIO_SECRET_KEY=ton_secret_key
MINIO_BUCKET=speedrun-medias
PUBLIC_URL=https://ton-domaine.com